/packages/
riderModule.iml
gteams.db
gteams.db-shm
gteams.db-wal

# Arquivos e diretórios comuns para IDEs
.idea/
*.iml
*.class
*.log
*.vs/
*.vscode/
*.swp
*.swo
*.swn

# IntelliJ IDEA
/.idea/*
*.iws
*.ipr

# Rider
/.idea/
/_ReSharper.Caches/
/riderModule.iml

# Eclipse
/.metadata/
*/.checkstyle/
*.classpath
*.project
*.settings/

# Visual Studio e .NET
bin/
obj/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.pdb

# Outros caches de IDEs e arquivos transitórios
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal
*.pid