<h4>Inserir Colaborador</h4>

<form>
    <table>
        <div>
            <label>Nome</label>
            <input type="text">
        </div>
        <div>
            <label>User</label>
            <input type="text">
        </div>
        <div>
            <label>Cpf</label>
            <input type="text">
        </div>
    </table>
</form>