@page "/colaboradores"
@rendermode InteractiveServer

<PageTitle>Colaboradores</PageTitle>

<nav style="background: #eee; padding: 1rem; display: flex; gap: 1rem; border-radius: 0.25rem">
    <button @onclick="MostrarCadastrarColaborador" style="display: flex; align-items: center; border-radius: 0.25rem">
        <span class="bi bi-plus-square-fill" aria-hidden="true"></span>
        Inserir
    </button>
    <button style="display: flex; align-items: center; border-radius: 0.25rem">
        <span class="bi bi-search-fill" aria-hidden="true"></span>
        Buscar
    </button>
</nav>

@if (_exibirCadastrarColaborador)
{
    <CadastrarColaborador/>
}

@code {

    private bool _exibirCadastrarColaborador = false;

    void MostrarCadastrarColaborador()
    {
        _exibirCadastrarColaborador = true;
    }

}
